@{
    ViewBag.Title = "Home Page";
}


<div class="forms-block">
    <div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("RequestWriteToFile", "Home", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary" name="get" value="Submit">Get Request</button>
            }
        </div>

        <div class="col-md-3">
            @using (Html.BeginForm("RequestWriteToFile", "Home", FormMethod.Post))
            {
                <button type="submit" class="btn btn-primary" name="get" value="Submit">Post Request</button>
            }
        </div>

        <div class="col-md-3">
            @using (Html.BeginForm("RequestWriteToFile", "Home"))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                <button type="submit" class="btn btn-primary" name="put" value="Submit">Put Request</button>
            }
        </div>

        <div class="col-md-3">
            @using (Html.BeginForm("RequestWriteToFile", "Home"))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-primary" name="delete" value="Submit">Delete Request</button>
            }
        </div>
    </div>
</div>

